.row {
  padding: 5px;
  gap: 0;
}

.col {
  margin: 5px;
  padding: 5px;
}

body {
  margin: 5px;
  /* border: 2px solid darkblue; */
  border-radius: 5px;
}

header {
  /* border: 2px solid blue; */
  border-radius: 5px;
}

header h3 {
  padding: 0 20px;
}

#btnTheme {
  position: fixed;
  right: 20px;
}

main {
  margin: 5px 0;
  /* border: 2px solid blue; */
  border-radius: 5px;
}

main div {
  /* border: 2px solid rgb(32, 167, 88); */
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 2.5%;
  width: 95%;
  /* border: 2px solid blue; */
  border-radius: 5px;
}

footer div {
  padding: 10px;
  /* border: 2px solid green; */
  justify-content: right;
}

footer .row {
  margin: 0;
}

/* modal stuff down here, no touchy cass */
#cocktailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal1 h5 {
  text-align: center;
}
#modal1 {
  max-width: 400px;
}

/* style for map. */
#map {
  height: 350px;
  width: 100%;
  margin-top: 20px;
}
#zipCodeInput {
  width: 50%;
  margin-left: 10px;
}
.card.small {
  height: 475px;
  width: 400px;
}
.flow-text {
  font-weight: bold;
  margin: 10px;
}
